<!-- <div class="container-fluid bg"></div> -->
<div class="container-fluid">
    <h1 class="header-style custom-header-font">SOUND-BOX</h1>
    <p class="mission-statement">Collaborative listening done right</p>
    <a href="/login" class="login-btn btn-oval green-btn">Log In</a>
    <div class="equalizer footer">
        <div class="bar color-group1 bar1"></div>
        <div class="bar color-group1 bar2"></div>
        <div class="bar color-group1 bar3"></div>
        <div class="bar color-group1 bar4"></div>
        <div class="bar color-group1 bar5"></div>
        <div class="bar color-group1 bar6"></div>
        <div class="bar color-group1 bar7"></div>
        <div class="bar color-group1 bar8"></div>
        <div class="bar color-group1 bar9"></div>
        <div class="bar color-group1 bar10"></div>
        <div class="bar color-group2 bar11"></div>
        <div class="bar color-group2 bar12"></div>
        <div class="bar color-group2 bar13"></div>
        <div class="bar color-group2 bar14"></div>
        <div class="bar color-group2 bar15"></div>
        <div class="bar color-group2 bar16"></div>
        <div class="bar color-group2 bar17"></div>
        <div class="bar color-group2 bar18"></div>
        <div class="bar color-group2 bar19"></div>
        <div class="bar color-group3 bar20"></div>
        <div class="bar color-group3 bar21"></div>
        <div class="bar color-group3 bar22"></div>
        <div class="bar color-group3 bar23"></div>
        <div class="bar color-group3 bar23"></div>
        <div class="bar color-group3 bar24"></div>
        <div class="bar color-group3 bar25"></div>
        <div class="bar color-group3 bar26"></div>
        <div class="bar color-group3 bar27"></div>
        <div class="bar color-group3 bar28"></div>
        <div class="bar color-group3 bar29"></div>
        <div class="bar color-group3 bar30"></div>
        <div class="bar color-group3 bar31"></div>
    </div>
</div>