
div.container-fluid {
    margin: 0;
    padding: 0;
    position: relative;
    background: url('../../assets/login-wall5.jpeg');
    height: 100vmin;
    background-color: #030f26;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // filter: blur(2px);
    // -webkit-filter: blur(2px);
}

h1.header-style {
    padding: .5em;
    // background-color: #030f26;
    background: rgba(#030f26, 0.85);
}

p.mission-statement {
    text-align: center;
    width: 50%;
    margin: 2% auto;
    font-weight: 900;
    color: white;
    padding: 1em;
    // background-color: #030f26;
}

.login-btn {
    text-decoration: none;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 12pt;
    margin: 5% auto;
    display: block;
    -webkit-transition: width .25s; /* For Safari 3.1 to 6.0 */
    transition: width .25s;
}
 
.login-btn:hover {
    background-color: rgb(25, 197, 144);
    width: 310px;
    color: white;
}


 
// ------- MEDIA QUERIES -------
@media only screen and (max-width: 480px){
    h1.header-style { font-size: 30pt; }

    p.mission-statement { font-size: 14pt; }
    div.equalizer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
        background: rgba(#030f26, 0.70);
        display: flex;
        justify-content: space-evenly;
        div.bar {
            width: 45px;
            margin: 0 .25em;
            // transition: .5s;
            // animation: equalize 1.5s 0s infinite;
            // animation-timing-function: linear;
            vertical-align: bottom;
        }
        div.bar {
            height: 80%;
            background-color: green;
        }
    }
    .login-btn { width: 200px; }
}

@media only screen and (min-width: 481px){
    h1.header-style { font-size: 38pt; }

    p.mission-statement { font-size: 18pt; }

}

@media only screen and (min-width: 1024px){
    h1.header-style { font-size: 46pt; }

    p.mission-statement { font-size: 20pt; }
}