h1.header-style {
    padding: .5em;
    background-color: black;
}

p.mission-statement {
    text-align: center;
    width: 50%;
    margin: 5% auto;
}

.login-btn {
    text-decoration: none;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 12pt;
    margin: 5% auto;
    display: block;
    -webkit-transition: width .25s; /* For Safari 3.1 to 6.0 */
    transition: width .25s;
}
 
.login-btn:hover {
    background-color: rgb(25, 197, 144);
    width: 305px;
    color: white;
}

 
// ------- MEDIA QUERIES -------
@media only screen and (max-width: 480px){
    h1.header-style { font-size: 30pt; }

    p.mission-statement { font-size: 14pt; }

    .login-btn { width: 200px; }
}

@media only screen and (min-width: 481px){
    h1.header-style { font-size: 38pt; }

    p.mission-statement { font-size: 18pt; }

}

@media only screen and (min-width: 1024px){
    h1.header-style { font-size: 46pt; }

    p.mission-statement { font-size: 20pt; }
}