<div class="container-fluid">
  <div class="nav">
    <h1 class="">SOUND-BOX</h1>
    <p *ngIf="currentSong" class="header-song-info">{{ currentSong.info.name }} - {{ currentSong.info.artists[0].name
      }}</p>
    <form class="search-form" (submit)="findSong()">
      <input list="song-results" type="search" id="searchBar" name="searchSong" [(ngModel)]="searchSong">
      <ul class="song-search-results">
        <li (click)="addSong(song)" *ngFor="let song of searchResults">{{ song.name }} - {{ song.artists[0].name }}</li>
      </ul>
    </form>
  </div>
  <div class="main-content">
    <div id="song-info" class="current-song-info">
      <div class="img-wrapper">
        <img *ngIf="currentSong" class="artist-img" [src]="currentSong.info.album.images[0].url" alt="">
      </div>
      <div class="artist-info">
        <h3 *ngIf="currentSong" class="song-album-name">{{ currentSong.info.name }} - {{ currentSong.info.album.name }}</h3>
        <h5 *ngIf="currentSong" class="artist-name">{{ currentSong.info.artists[0].name }}</h5>
        <button *ngIf="currentSong" class="follow-btn btn green-btn">follow</button>
      </div>
    </div>
    <div class="song-queue">
      <h4>Song Queue</h4>
      <div class="queue-list">
        <div class="row" *ngFor="let song of queue">
          <p class="row-song-name-artist">
            {{ song.info.name }} - {{ song.info.artists[0].name }}
          </p>
          <button class="btn upvote-btn" *ngIf="upvoted" (click)="upvote(song, $event.currentTarget)">
            <i class="far fa-thumbs-up"></i>
          </button>
          <p class="upvotes">{{ song.upvotes }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="song-progress-bar">
    <div class="progress"></div>
  </div>
  <div class="user-list">
    <div class="row">
      <div class="user-img">
        <i class="user-img fas fa-robot"></i>
      </div>
      <p class="user-name">Robot</p>
    </div>
    <!-- row for users bellow - above is the row for the robot. do not touch! -->
    <div class="row" *ngFor="let user of users">
      <img class="user-img" src="{{ user.images[0].url }}">
      <p class="user-name">{{ user.display_name }}</p>
    </div>


  </div>
</div>






<!-- <div clas
    ser-profile">
        <img src="">
    </div> -->








<!-- <div class="container">
  <h1>This is where the Queue will be</h1>
  <form class="search-form" (submit)="findSong()">
    <label for="searchSong">Song Name:</label>
    <input type="text" name="searchSong" [(ngModel)]="searchSong">
    <button type="submit">Search</button>
    <div class="song-results">
      <p *ngFor="let song of searchResults">{{ song.name }}</p>
    </div>
  </form>
</div> -->
