div.container-fluid {
    // background-color: #242424;
    // background-color: #2D283E;
    min-height: 100vh;
}

p, h4, h1 {
    color: black;
}

h1 {  padding: 1em; }

div.rooms-view {
    display: flex;
    flex-wrap: wrap;
    // display: none;
}

div.rooms-view, div.create-room {
    margin: 0 auto;
    // box-shadow: 10px 10px 10px  rgb(29, 25, 42);
    // border-top: 4px solid rgb(29, 25, 42);;
    // border-left: 4px solid rgb(29, 25, 42);
    // border-radius: 10px 1px 1px 1px;
    border: 1px solid black;
}

div.rooms-pane-header {
    padding: 1em;
    input.room-search-input {
        padding: .5em;
        border-radius: 1.5em;
        border: 1px solid gray;
    }
    button.create-room-btn {
        margin-left: 1em;
        // padding: 1em;
        width: 45px;
        height: 45px;
        font-size: 22pt;
        border-radius: 50%;
        vertical-align: bottom;
    }

}

div.rooms-view-pane {
    overflow-y: scroll;
    div.row {
        padding: .5em;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(29, 25, 42);
    }
    div.row:hover {
        outline: 1px solid gray;
    }
    div.row > p {
        // font-size: 16pt;
        // font-weight: bold;
        display: inline-block;
        margin: 0;
    }
}

form.create-room-form {
    padding: 1em;
    width: 80%;
    margin: 5em auto;
    outline: 1px solid black;
}

div.right-pane {
    padding: 2em;
    border-left: 1px solid black;

    form.room-password-form {
        width: 100%;
        margin: 0;
    }
}

form > input {
    margin-bottom: 1em;
}

form > button.green-btn {
    width: 100%;
}



// ------- MEDIA QUERIES -------
@mixin box-size-view($box-width, $box-height) {
    div.rooms-view, div.create-room {
        height: $box-height;
        width: $box-width;
    }
}

@mixin pane-size($pane-left-width, $pane-right-width, $pane-height) {
    div.left-pane { width: $pane-left-width; }
    div.right-pane { width: $pane-right-width; }
    div.pane { height: $pane-height; }
}
@media only screen and (max-width: 480px){
    h1.header-style { font-size: 28pt; }
    @include box-size-view(100%, 100%);
    div.rooms-view {
        border: 4px solid rgb(29, 25, 42);
        margin: 0;
        border: 0;
        box-shadow: 0;
        border-radius: 0;
    }
    div.left-pane { border-top: 1px solid black;}
    div.right-pane { 
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    @include pane-size(100%, 100%, 300px);
    div.rooms-view-pane { height: 225px}
    input.room-search-input { width: 70%; }

}

@media only screen and (min-width: 481px){
    h1.header-style { font-size: 32pt; }
    @include box-size-view(600px, 500px);
    @include pane-size(55%, 45%, 100%);
    div.rooms-view-pane { height: 425px}
    input.room-search-input { width: 73%; }
}

@media only screen and (min-width: 1024px){
    h1.header-style { font-size: 40pt; }
    @include box-size-view(1000px, 600px);
    @include pane-size(60%, 40%, 100%);
    div.rooms-view-pane { height: 525px}
    input.room-search-input { width: 80%; }
}

// ---- END MEDIA QUERIES ----


// left pane scroll bar
div.rooms-view-pane::-webkit-scrollbar {
    width: 10px;
}

div.rooms-view-pane::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(110, 110, 110, 0.3);
    border-radius: 10px;
}

div.rooms-view-pane::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
}

// div.left-pane::-webkit-scrollbar {
//   width: 10px;
// }

// div.left-pane::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(110, 110, 110, 0.3);
//   border-radius: 10px;
// }

// div.left-pane::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
// }