<div class="container-fluid">
    <h1 class="header-style custom-header-font">Join a Room</h1>
    <div class="rooms-view">
        <div class="left-pane pane">
            <div class="rooms-pane-header">
                <input class="room-search-input" type="text" placeholder="search">
            </div>
            <div class="rooms-view-pane">
                <div class="row">
                    <p class="room-name">music room 1012823</p>
                    <p class="room-qty">10</p>
                </div>
            </div>
        </div>
        <div class="right-pane pane">
            <h4>Room Name</h4>
            <p><span class="room-qty">10</span> members</p>
            <form>
                <input type="text" placeholder="password">
                <button>submit</button>
            </form>
        </div>
    </div>
    
</div>