/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Francois+One|Oxygen|Ubuntu');

// resets 
body *,
body {
  margin: 0;
  padding: 0;
}

.header-style {
  color: white;
  font-weight: bold;
//   background-color: black;
  opacity: .85;
  text-align: center;
}

.btn-oval {
  padding: 1em;
  border-radius: 1.5em;
  font-weight: bold;
}

.green-btn {
    border: none;
    text-decoration: none;
    background-color:rgb(25, 197, 144);
    color: white;
    cursor: pointer;
}

.custom-header-font {
  font-family: 'Oxygen', sans-serif;
//   font-family: 'Ubuntu', sans-serif;
//   font-family: 'Francois One', sans-serif;
}
